
@using IIA.Helpers
@{

    ViewData["Title"] = "Home Page";
    var username = Context.Session.GetString("User");
}

<div class="text-center">
    <h1 class="display-4">Welcome  @(!string.IsNullOrEmpty(username) ? username : "") </h1>
</div>
